<h1>Here are all the recipes</h1>


<% @recipes.each do |recipe| %>
  <h3>id: <%= recipe.id %></h3>
  <a href="/recipes/<%= recipe.id %>">Click here for more information</a>
  <h3>title: <%= recipe.title %></h3>
  <p>ingredients: <%= recipe.ingredients %></p>
  <p>directions: <%= recipe.directions %></p>
  <p>prep time: <%= recipe.prep_time %></p>
  <p>image_url: <%= recipe.image_url %></p>
  <img src="<%= recipe.image_url %>">
  <hr>
<% end %>
